<GMapRoute as |g|>
  <g.overlay @lat={{@model.lat}} @lng={{@model.lng}}>
    <div class="hotel-overlay">
      <h1>{{@model.name}}</h1>
      <ul>
        <li>Address: {{@model.address}}</li>
        <li><a href={{@model.website}} target="_blank" rel="noopener noreferrer">Visit Website</a></li>
      </ul>

      <LinkTo @route="index.hotels">Close</LinkTo>
    </div>
  </g.overlay>
</GMapRoute>